<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <title><%= skill.skill %> Skill </title>
</head>
<body>
    <main>
        <a id="home" href="/skills"><button>Home</button></a>
        <h1>Skill</h1>
        <h2>John Can Do <%= skill.skill %>!</h2>
        <form action="/skills/<%= skill.id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button id="delete" class="show-buttons" type="submit">Delete Skill</button>
        </form>
        <a href="/skills/<%= skill.id%>/edit">
            <button id="edit" class="show-buttons" type="submit">Edit Skill</button>
        </a>
        
    </main>
    
    
</body>
</html>